#####################################################################
# 	TMC autotune for silent and strong steppers
#####################################################################

# Uncomment below after installing the TMC autotune plugin
# This is optional but recommended
# https://github.com/andrewmcgr/klipper_tmc_autotune

# [autotune_tmc extruder]
# motor: moons-cse14hra1l410a
# tuning_goal: auto
# extra_hysteresis: 0
# tbl: 2
# toff: 1
# sgt: 1
# sg4_thrs: 10
# voltage: 24
# overvoltage_vth: 0.0

[autotune_tmc stepper_x]
#motor: moons-ms17hd6p420I-05
motor: moons-ms17hd6p420i
tuning_goal: auto
extra_hysteresis: 0
tbl: 2
toff: 1
sgt: 1
sg4_thrs: 10
voltage: 24
overvoltage_vth: 0.0

[autotune_tmc stepper_y]
# motor: moons-ms17hd6p420I-05
motor: moons-ms17hd6p420i
tuning_goal: auto
extra_hysteresis: 0
tbl: 2
toff: 1
sgt: 1
sg4_thrs: 10
voltage: 24
overvoltage_vth: 0.0

[autotune_tmc stepper_z]
# motor: moons-ms17hd6p420I-05
motor: moons-ms17hd6p420i
tuning_goal: auto
extra_hysteresis: 0
tbl: 2
toff: 1
sgt: 1
sg4_thrs: 10
voltage: 24
overvoltage_vth: 0.0

[autotune_tmc stepper_z1]
# motor: moons-ms17hd6p420I-05
motor: moons-ms17hd6p420i
tuning_goal: auto
extra_hysteresis: 0
tbl: 2
toff: 1
sgt: 1
sg4_thrs: 10
voltage: 24
overvoltage_vth: 0.0

[autotune_tmc stepper_z2]
# motor: moons-ms17hd6p420I-05
motor: moons-ms17hd6p420i
tuning_goal: auto
extra_hysteresis: 0
tbl: 2
toff: 1
sgt: 1
sg4_thrs: 10
voltage: 24
overvoltage_vth: 0.0

[autotune_tmc stepper_z3]
# motor: moons-ms17hd6p420I-05
motor: moons-ms17hd6p420i
tuning_goal: auto
extra_hysteresis: 0
tbl: 2
toff: 1
sgt: 1
sg4_thrs: 10
voltage: 24
overvoltage_vth: 0.0
